@model CourseManagement.Model.Configuration

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Configuration</legend>

        @Html.HiddenFor(model => model.Protocol)

        <div class="editor-label">
            @Html.LabelFor(model => model.Endpoint)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Endpoint)
            @Html.ValidationMessageFor(model => model.Endpoint)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Port)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Port)
            @Html.ValidationMessageFor(model => model.Port)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UseSsl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UseSsl)
            @Html.ValidationMessageFor(model => model.UseSsl)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AccountId, "Account")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AccountId", String.Empty)
            @Html.ValidationMessageFor(model => model.AccountId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
