@model CourseManagement.Model.Configuration

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Configuration</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Endpoint)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Endpoint)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Port)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Port)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UseSsl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UseSsl)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Account.User)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Account.User)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Protocol }) |
    @Html.ActionLink("Back to List", "Index")
</p>
